@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body{
    margin: 0;
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: linear-gradient(to bottom,  var(--cor3), var(--cor5));
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    color: white;
}

header h1 {
   font-family: var(--fonte-destaque);
    font-size: 3em;
}

header p {
    margin-bottom: 25px;
    text-align: center;
    max-width: 500px;
    padding: 10px;
}

nav {
     box-sizing: border-box;
    width: 100%;
    background-color: #1a5c380e;
    padding: 4px 0;
    margin-bottom: -5px;
    box-shadow: 0px 10px 10px black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
    padding: 2px 12px;
    border-radius: 6px;
    transition: background-color 0.25s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}

article {
    background-color: white;
    padding: 25px;
    max-width: 700px;
    width: 80%;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

section{
    background-color: #c6f2de;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    margin: 20px auto;
    max-width: 700px;
}

.saber-mais {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: none;
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 6px 6px 0px 0px;
}
h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    text-align: center;
}

h3 {
    font-family: var(--fonte-android);
    color: #1A5C38;
    padding: 10px 0px 10px 15px;
    margin-top: 30px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

p {
    text-align: justify;
    text-indent: 20px;
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    line-height: 1.5em;
}
p > a {
    font-weight: 800;
    color: #043d24;
    text-decoration: none;
}

main strong {
    color: var(--cor4);
    font-weight: bolder;
    background-color: var(--cor1);
    padding: 2px 6px;
}

.dan-droids {
    display: block;
    width: 100%;
    height: auto;
}

.dan-droids-pq {
    display: none;
    width: 100%;
    height: auto;
}

@media (max-width: 800px){
    .dan-droids {display: none;}
    .dan-droids-pq {display: block;}
}

.irinah {
    display: block;
    width: 100%;
    height: auto;
}

.irinav {
    display: none;
    width: 100%;
    height: auto;
}

@media (max-width: 800px){
    .irinah {display: none;}
    .irinav {display: block;}
}

.bugdroid {
    display: block;
    margin: auto;
}


.video {
    background-color: var(--cor5);
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 10px;
}

.box {
    background-color: #c6f2de;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    max-width: 700px;
}

.lista {
    columns: 2;
    margin-left: 10px;
    list-style-type: '\2714\00A0\00A0';
}

footer {
    background-color: #043d24;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}