@charset "UTF-8";

body {
    background-color: rgb(192, 255, 234);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(1, 43, 29);
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(90, 123, 112);
}

.basico {
    color: green;
}

.intermediario {
    color: darkgoldenrod;
}

.avancado {
    color: darkred;
}